<div class="container">
  <div class="product-header">
  <h2>Product Management</h2>
  <button (click)="openAddProductModal()" id="add-btn">Add Product</button>
</div>
  <table *ngIf="filteredProducts.length > 0; else noProducts">
    <thead>
      <tr>
        <th>Sr.No</th>
        <th>Image</th>
        <th>Name</th>
        <th>Description</th>
        <th>Category</th>
        <th>Stock</th>
        <th>Price</th>
        <th>GST Type</th>
        <th>GST Rate</th>
        <th>Actions</th>
        <th>Product ID</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of filteredProducts; let i = index">
        <td>{{ i + 1 }}</td>
        <td><img [src]="getImageUrl(product.product_id)" class="product-image" alt="Product image" /></td>
        <td>{{ product.productName }}</td>
        <td>{{ product.product_description }}</td>
        <td>{{ product.product_category }}</td>
        <td>{{ product.product_available_stock_quantity }}</td>
        <td>{{ product.product_price }}</td>
        <td>{{ product.gst_type }}</td>
        <td>{{ product.gst_rate }}</td>
        <td>
          <button (click)="editProduct(product)">
            <img src="../../../../../assets/logos/edit-black.png" width="20px" alt="edit" />
          </button>
          <button (click)="deleteProduct(product.product_id)">
            <img src="../../../../../assets/logos/delete-black.png" width="20px" />
          </button>
        </td>
        <td>{{ product.product_id }}</td>
      </tr>
    </tbody>
  </table>
  <ng-template #noProducts>
    <div class="no-data-message">
      <p>No products found.</p>
    </div>
  </ng-template>
</div>
<app-product-modal
 [show]="isModalVisible"
 [product]="product"
 [isEditMode]="isEditMode"
 (close)="closeModal()" 
 (save)="isEditMode ? updateProduct() : saveProduct()"

 (fileSelected)="imageFile = $event"
></app-product-modal>
